In [25]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine
from datetime import timedelta

In [26]:
engine = create_engine('sqlite:///Trading_DB.db')

In [27]:
df= yf.download('ko', start=pd.to_datetime('today') -timedelta(7), interval='1m')

[*********************100%***********************]  1 of 1 completed

In [28]:
df.to_sql('KO_1min',engine)

ValueError: Table 'KO_1min' already exists.

In [29]:
max_date = pd.read_sql('select max(Datetime) from KO_1min', engine).values[0][0]

In [30]:
max_date

'2023-08-14 16:00:00.000000'

In [31]:
new_rows = df[df.index>max_date]

In [32]:
len(new_rows)

108

In [33]:
new_rows.to_sql('KO_1min',engine, if_exists='append')
print(str(len(new_rows)) +' rows have been imported')

108 rows have been imported

In [10]:
pd.read_sql('select* from KO_1min', engine)

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2023-08-08 09:30:00.000000,61.189999,61.349998,61.150101,61.314999,61.314999,258077
1,2023-08-08 09:31:00.000000,61.340000,61.340000,61.160000,61.169998,61.169998,21711
2,2023-08-08 09:32:00.000000,61.209999,61.228901,61.160000,61.228901,61.228901,22407
3,2023-08-08 09:33:00.000000,61.230000,61.250000,61.200001,61.209999,61.209999,10871
4,2023-08-08 09:34:00.000000,61.209999,61.250000,61.189999,61.209202,61.209202,28001
...,...,...,...,...,...,...,...
1944,2023-08-14 15:56:00.000000,60.849998,60.860001,60.840000,60.860001,60.860001,29715
1945,2023-08-14 15:57:00.000000,60.860001,60.889999,60.860001,60.884998,60.884998,58104
1946,2023-08-14 15:58:00.000000,60.884998,60.889999,60.869999,60.880001,60.880001,87396
1947,2023-08-14 15:59:00.000000,60.880001,60.900002,60.849998,60.880001,60.880001,234257
1948,2023-08-14 16:00:00.000000,60.880001,60.880001,60.880001,60.880001,60.880001,0